@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

:root{
  --bg-color: #fff;
  --text-color: #000;
  --text-color-2nd: #333;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container{
  padding: 64px 14px 14px 14px;
}
